body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    margin-bottom: auto;
    margin: 10px;
}

nav {
    margin: 0;
    display: grid;
    grid-template-columns: 25% 25% 25% 25% 25%;
    grid-template-rows: auto 3rem;
    width: 100%;
    max-width: 1300px;
    font-weight: bold;
}

nav a, nav a:visited {
    color: black;
    text-decoration: none;
}

img.profil {
    width: 30%;
    border-radius: 100%;
}